#player-box {
  background: #000;
  margin-bottom: 10px;
}

.server-table {
  width: 100%;
  background: #111;
  text-align: center;
  border-collapse: collapse;
}

.server-table th {
  background: #222;
  color: #fff;
  padding: 8px;
  font-weight: bold;
}

.server-table td {
  padding: 5px;
}

.server-table button {
  width: 100%;
  padding: 8px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 13px;
}

.server-table button:hover {
  background: #555;
}

.server-table button.active {
  background: #ff9800;
  color: #000;
  font-weight: bold;
}
