.player-wrapper {
  background: #000;
  margin-bottom: 10px;
}

.server-table {
  width: 100%;
  background: #111;
  text-align: center;
}

.server-table th {
  background: #222;
  color: #fff;
  padding: 8px;
}

.server-table td {
  padding: 6px;
}

.server-table button {
  width: 100%;
  padding: 8px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.server-table button.active {
  background: #ff9800;
  color: #000;
  font-weight: bold;
}
